@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
	width: 100%;
	scroll-behavior: smooth;
	font-size: 62.5%;
} */

:root {
	--background-color: #150e28;
	--text-color: #fff;
	--dark-purple: #903aff;
	--pale-purple: #d434fe;
	--gradient: linear-gradient(to left, rgb(144, 58, 255), rgb(254, 52, 185));
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a,
a:link {
	text-decoration: none;
	color: inherit;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.purple-underline {
	display: inline-block;
	position: relative;
	width: fit-content;
	object-fit: contain;
}

.purple-underline::after {
	display: flex;
	content: url('./assets/icons/purple-underline.png');
	position: absolute;
	width: 2rem;
	top: 1rem;
	/* left: 0;
	right: 0; */
}

.glow-bg {
	background-image: url('/purple-lens-flare.svg');
	background-color: var(--background-color);
	background-blend-mode: hard-light;
	background-position-y: 50%;
	background-size: contain;
	background-position-x: 6rem;
	background-repeat: no-repeat;
}

.box-item-1,
.box-item-2,
.box-right,
.box-top-left {
	position: relative;
	display: flex;
}

.box-item-1::before,
.box-item-1::after,
.box-item-2::before,
.box-item-2::after,
.box-right::before,
.box-right::after,
.box-top-left::before,
.box-top-left::after {
	content: '';
	display: inline-block;
	background-color: var(--pale-purple);
	position: absolute;
	z-index: 1;
}
/* horizontal */
.box-item-1::before {
	height: 2px;
	bottom: 0;
	right: 2rem;
	left: 0;
}
/* horizontal */
.box-item-2::before {
	height: 2px;
	bottom: 0;
	right: 2rem;
	left: 2rem;
}
/* vertical */
.box-item-1::after,
.box-item-2::after {
	width: 2px;
	right: 0;
	top: 0;
	bottom: 2rem;
}
/* vertical */
.box-right::after {
	width: 2px;
	right: 0;
	bottom: 0;
	top: 2rem;
}

/* vertical */
.box-top-left::after {
	width: 2px;
	bottom: 0;
	top: 2rem;
	left: 0;
}

/* horizontal */
.box-top-left::before {
	height: 2px;
	top: 0;
	right: 0;
	left: 2rem;
}

/* .glow-bg::before {
	content: url('/purple-lens-flare.svg');
	object-fit: contain;
	display: block;
	width: 2rem;
	aspect-ratio: 1/1;
	border-radius: 50rem;
	position: absolute;
	top: -14rem;
	left: 4rem;
} 
width: 64.8125rem;
height: 59.25rem;
flex-shrink: 0;
*/

/* bg-purple-glow bg-[#150e28] bg-opacity-30  bg-no-repeat [background-position:-50%_50%] */
