@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Unica+One&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=clash-display@700,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #150e28;
	--text-color: #fff;
	--dark-purple: #903aff;
	--pale-purple: #d434fe;
	--gradient: linear-gradient(to left, rgb(144, 58, 255), rgb(254, 52, 185));
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:link {
	text-decoration: none;
	color: inherit;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.countdown {
	font-family: 'Unica One', cursive;
}

.hero-txt {
	font-family: 'Clash Display', sans-serif;
	font-weight: bold;
	line-height: 1;
}

.box-item-1,
.box-item-2,
.box-right,
.box-top-left {
	position: relative;
	display: flex;
}

.box-item-1::before,
.box-item-1::after,
.box-item-2::before,
.box-item-2::after,
.box-right::before,
.box-right::after,
.box-top-left::before,
.box-top-left::after {
	content: '';
	display: inline-block;
	background-color: var(--pale-purple);
	position: absolute;
	z-index: 1;
}
/* horizontal */
.box-item-1::before {
	height: 2px;
	bottom: 0;
	right: 1rem;
	left: 0;
}
/* horizontal */
.box-item-2::before {
	height: 2px;
	bottom: 0;
	right: 1rem;
	left: 1rem;
}
/* vertical */
.box-item-1::after,
.box-item-2::after {
	width: 2px;
	right: 0;
	top: 0;
	bottom: 1rem;
}
/* vertical */
.box-right::after {
	width: 2px;
	right: 0;
	bottom: 0;
	top: 1rem;
}

/* vertical */
.box-top-left::after {
	width: 2px;
	bottom: 0;
	top: 1rem;
	left: 0;
}

/* horizontal */
.box-top-left::before {
	height: 2px;
	top: 0;
	right: 0;
	left: 1rem;
}
